body,html
  line-height: 1
  font-weight: 200
  font-family: 'Ping-Fang SC','STHeitiSC-Light'

.clearFix
  display: inline-block
  &:after
    display: block
    content: '.'
    height: 0
    line-height: 0
    visibility :hidden
    clear: both

@media (-webkit-min-device-pixel-raito:1.5),(-webkit-min-device-pixel-raito:1.5)
 .border-1px
  -webkit-transform: scaleY(0.7)
  transform: scaleY(0.7)

@media (-webkit-min-device-pixel-raito:2),(-webkit-min-device-pixel-raito:2)
 .border-1px
  -webkit-transform: scaleY(0.5)
  transform: scaleY(0.5)
